@using Demo.DAL.Models
@model EployeeViewModel
@{
    ViewData["Title"] = "Delet";
}

<h1>Create An Employee</h1>

<form asp-controller="Employee" asp-action="Delete">

    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Age" class="col-form-label"></label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Salary" class="col-form-label"></label>
        <input asp-for="Salary" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address" class="col-form-label"></label>
        <input asp-for="Address" class="form-control" />
 
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="col-form-label"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsActive" class="col-form-label"></label>
        <input asp-for="IsActive" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsDeleted" class="col-form-label"></label>
        <input asp-for="IsDeleted" class="form-control" />
        <span asp-validation-for="IsDeleted" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HirangDate" class="col-form-label"></label>
        <input asp-for="HirangDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateofCreation" class="col-form-label"></label>
        <input asp-for="DateofCreation" class="form-control" />
        <span asp-validation-for="DateofCreation" class="text-danger"></span>
    </div>
    </div>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>


