@using Demo.DAL.Models
@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


    <div class="form-group">
        <label asp-for="FirstName" class="col-form-label"></label>
        <input readonly asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-form-label"></label>
        <input readonly asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-form-label"></label>
        <input readonly asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

<a asp-action="Details"  class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

@section validation {


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

