@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
    <div asp-validation-summary="All"></div>
    
        <form asp-action="ResetPassword" >
          
            <input class="text" required asp-for="NewPassword" placeholder="Password" required="">
            <input class="text w3lpass" required asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <div class="wthree-text">
                <label class="anim">
                  
                 
            <input type="submit" value="Reset Password">
        </form>
      </div>
    </div>
</div>

@section validation {


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

